<div class="clientes-table">
  <table>
    <thead>
      <tr>
        <th *ngFor="let col of colLabels">{{ col }}</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td *ngFor="let col of colNames">
          <ng-container *ngIf="col === 'fecha'; else normal">
            {{ item[col] | date : "dd/MM/yyyy HH:mm" }}
          </ng-container>
          <ng-template #normal>
            {{ item[col] }}
          </ng-template>
        </td>
        <td>
          <button class="icon-button" title="Editar" (click)="edit(item)">
            ✏️
          </button>
          <button class="icon-button" title="Borrar" (click)="delete(item.id)">
            🗑️
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
