<section class="cuentas-page">
  <div class="page-header">
    <h2>Cuentas</h2>
    <button class="primary" (click)="createAccount()">Nuevo</button>
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Buscar por nombre o identificación" />
  </div>

  <app-table
    [colLabels]="[
      'Número de cuenta',
      'Tipo de cuenta',
      'Saldo',
      'Estado',
      'Nombre de cliente'
    ]"
    [colNames]="[
      'numeroCuenta',
      'tipoCuenta',
      'saldoInicial',
      'estado',
      'clienteNombre'
    ]"
    [data]="accounts"
    (onEdit)="editCuenta($event)"
    (onDelete)="deleteCuenta($event)"
  >
  </app-table>
</section>

<div class="modal-overlay" *ngIf="showModal">
  <div class="modal-content">
    <app-account-form
      [account]="accountSelected"
      (onSubmit)="saveAccount($event)"
      (onCancel)="closeModal()"
    ></app-account-form>
  </div>
</div>
