<section class="cuentas-page">
  <div class="page-header">
    <h2>Movimientos</h2>
    <button class="primary">Nuevo</button>
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Buscar por nombre o identificación" />
  </div>

  <app-table
    [colLabels]="[
      'Número de cuenta',
      'Fecha',
      'Saldo Inicial',
      'Tipo de Movimiento',
      'Valor'
    ]"
    [colNames]="['cuentaId', 'fecha', 'saldo', 'tipoMovimiento', 'valor']"
    [data]="movimientos"
    (onEdit)="editMovimiento($event)"
    (onDelete)="deleteMovimiento($event)"
  >
  </app-table>
</section>
