<aside class="sidebar">
  <nav class="menu">
    <a routerLink="/clientes" routerLinkActive="active">
      <img src="../../../assets/img/user.png" alt="Clientes" />
      <span>Clientes</span>
    </a>
    <a routerLink="/cuentas" routerLinkActive="active">
      <img src="../../../assets/img/wallet.png" alt="Cuentas" />
      <span>Cuentas</span>
    </a>
    <a routerLink="/movimientos" routerLinkActive="active">
      <img src="../../../assets/img/money-move.png" alt="Movimientos" />
      <span>Movimientos</span>
    </a>
    <a routerLink="/reportes" routerLinkActive="active">
      <img src="../../../assets/img/reports.png" alt="Reportes" />
      <span>Reportes</span>
    </a>
  </nav>
</aside>
